.welcome {
  font-size: 4rem;
}
.request {
  font-size: 1rem;
}
.padding_top
{
  padding-top: 15rem;
}
.login_island {
  background-color: #c5c5c5d6;
}
.background {
  background-image: url(../../assets/login_background.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 150vh;
}
.logo {
  height: 4rem;
  width: 4rem;
}
.login_logo_title {
  font-size: 1.4rem;
  transform: translateX(-10%);
}
.unable_to_log
{
  color: #515151;
}
.font_size
{
  font-size: 1.2rem;
}
