<div class="background">
  <div class="header d-flex align-items-center">
    <img src="../../assets/wallet_2.svg" alt="logo" class="logo ms-3 me-0" />
    <p class="login_logo_title m-auto ms-0">Wallet++</p>
  </div>
  <div class="position-absolute top-50 start-50 translate-middle">
    <p class="welcome fw-bold mx-auto text-center">Welcome Back</p>
    <div class="container-fluid w-100 mx-auto text-center">
      <p class="request fw-light mx-auto w-100">Please log in</p>
    </div>
    <div
      class="container-fluid w-75 h-100 justify-content-center border border-1 border-dark rounded-4 login_island"
    >
      <div class="p-2 pt-4 text-center mx-auto w-100">
        <input
          type="text"
          class="form-control border-dark pt-2 pb-2 bg-transparent w-100 mx-auto"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          placeholder="Email"
        />
      </div>
      <div class="p-2 text-center mx-auto w-100">
        <input
          type="text"
          class="form-control border-dark pt-2 pb-2 bg-transparent w-100 mx-auto"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          placeholder="Password"
        />
      </div>
      <div class="p-2 pb-3 mx-auto w-100 text-center">
        <button
          type="button"
          class="btn btn-outline-primary mx-auto px-4"
          data-bs-toggle="popover"
          data-bs-title="Not Implemented"
          data-bs-content="This is just a prototype :D"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
