<div class="body position-absolute ps-3">
    <div class="container-fluid text-center w-100">
        <div class="row d-flex justify-content-center pt-5">
            @for(item of advertisement; track item.title)
            {
            <div class="col-md-4 text-start">
                <div class="title">
                    <p>{{item.title}}</p>
                </div>
                <div class="description top-0">
                    <p>
                        {{item.description}}
                    </p>
                </div>
            </div>
            }
            <hr class="border border-dark">
        </div>
        <div class="row align-items-start pt-5 ps-2">
            <div class="col-md-7">
                <div class="w-100">
                    <img src="../../assets/data.png" class="w-100 image_transform">
                </div>
            </div>
            <div class="col-md-4">
                <div class="container-fluid text-start pt-3">
                    <div class="row align-items-start image_text_title fw-semibold">
                        <div class="col">
                            <p>Welcome to the Next Generation of Investing</p>
                        </div>
                    </div>
                    <div class="row align-items-start fw-bolder image_text_description">
                        <div class="col">
                            <p>Find the needle in the haystack</p>
                        </div>
                    </div>
                    <div class="row align-items-start image_text_paragraph">
                        <div class="col">
                            <p>Manually reading and understanding data is a thing of the past. With our state of the art
                                algoritims and technology.
                                Harness the power of AI and let your wallet grow on its own.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="discover" class="pt-5"> </div>
        <div class="pt-3">
            <div class="row">
                <p class="market_title pt-5 fw-medium">Supported Markets</p>
                <div class="pt-5"> </div>
                @for(item of data; track item.name){
                <div class="col">
                    <app-tiles [name]="item.name" [image]="item.image" class="p-2 ps-0"></app-tiles>
                </div>
                }
            </div>
        </div>
        <hr>
        <div id="pricing">
            <div class="row pt-5 pb-5 w-100 container_width">
                <div class="pt-5"></div>
                <p class="market_title fw-medium">Pricing</p>
                <div class="col-xs-auto pt-5 prevent_shrinking">
                    <div class="rounded-4 border border-dark-subtle border-2 text-start p-3 pricing_tile">
                        <p class="intended_user">For New Users</p>
                        <p class="class fw-semibold ">Free</p>
                        <p class="intended_user color_black">Access to one business's data</p>
                        <div class="pt-2"></div>
                        <p class="price fw-semibold">$0 <span class="USD fw-light">USD</span></p>
                        <p class="month">/month</p>
                        <div class="pt-5"> </div>
                        <button type="button" class="btn btn-outline-dark button_size">Create Account</button>
                    </div>
                </div>
                <div class="col-xs-auto pt-5 prevent_shrinking">
                    <div class="rounded-4 border border-2 border-success text-start p-3 pricing_tile">
                        <p class="intended_user">For Everyone</p>
                        <p class="class fw-semibold">Pro</p>
                        <p class="intended_user color_black ">Access to all businesses</p>
                        <div class="pt-2"></div>
                        <p class="price fw-semibold">$20 <span class="USD fw-light">USD</span></p>
                        <p class="month">/month</p>
                        <div class="pt-5"> </div>
                        <button type="button" class="btn btn-success button_size">Get Started</button>
                    </div>
                </div>
                <div class="col-xs-auto pt-5 prevent_shrinking">
                    <div class="rounded-4 border border-dark-subtle border-2 text-start p-3 pricing_tile">
                        <p class="intended_user">For Larger Organizations</p>
                        <p class="class fw-semibold">Enterprise</p>
                        <p class="intended_user color_black">Contact us for more information</p>
                        <div class="pt-2"></div>
                        <p class="price fw-semibold">$100 <span class="USD fw-light">USD</span></p>
                        <p class="month">/month</p>
                        <div class="pt-5"> </div>
                        <button type="button" class="btn btn-outline-dark button_size">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>