.navbar_transparent {
  background-color: transparent;
  color: white;
  transition: 0.5s;
}
.navbar_black {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.758);
  box-shadow: 0, 3px, 10px, rgba(0, 0, 0, 0.15);
}

.brand-pad {
  padding-left: 2%;
}
