<nav class="navbar fixed-top navbar-expand-lg pt-3 pb-3 w-100" [class]="[class]" id="navbar" data-bs-theme="dark"
  style="backdrop-filter: blur(3px);">
  <div class="container-fluid">
    <a class="navbar-brand ps-2 fw-bold" href="../../index.html" style="filter: opacity(1);">
      Wallet++
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
      style="height: 300vh; filter: opacity(0.9);">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> Wallet++</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body opacity-100">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a routerLink="/start"  href="javascript:void(0)" class="nav-link active" aria-current="page" routerLinkActive="active"
              style="filter: opacity(1);">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/markets" href="javascript:void(0)"
              style="filter: opacity(1);" >Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pricing" href="javascript:void(0)"
              style="filter: opacity(1);" >Pricing</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item me-2">
            <a class="nav-link fw-bolder" href="javascript:void(0)"
            style="filter: opacity(1);" >Contact Sales</a>          </li>
          <li class="nav-item">
            <a class="nav-link fw-bolder" routerLink="/login" href="javascript:void(0)"
            style="filter: opacity(1);" >Login/Register</a>          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>