<app-navbar [class]="'navbar_transparent'" [component]="0"></app-navbar>
<div class="home_page mx-auto container-fluid">
  <div class="pt-5 h-100 text-start position-absolute top-10">
    <p class="name fw-bold title_mobile">We Make Your Wallet Fat, Not You!</p>
    <h2 class="slogan title_slogan">
      An investing platform for investors with any experience
    </h2>
    <div class="pt-5 button_container">
      <button
        type="button"
        class="btn btn-light button_type p-3 pt-2 pb-2 fw-normal"
        routerLink="/login"
      >
        Get Started
      </button>
    </div>
  </div>
</div>
<app-body></app-body>
