<div class="home_page">
    <div class="home_page position-absolute z-0">
        <img src="../../assets/4k-New-York-City-Twilight-4K-Wallpaper.png" class="background-img mx-auto">
    </div>
    <div class=" pt-5 pe-0 h-100 text-start position-absolute top-10 ms-3 container_mobile">
        <p class="name fw-bold">We Make Your Wallet Fat, Not You!</p>
        <h2 class="slogan">An investing platform for investors with any experience</h2>
        <div class="pt-5 button_container">
            <button type="button" class="btn btn-light button_type p-3 pt-2 pb-2 fw-normal">Start Free Trial</button>
        </div>
    </div>
</div>