<app-navbar [class]="'navbar_black_no_trans'"></app-navbar>
<div id="pricing" class="container-fluid mx-auto">
    <div class="row pt-5 pb-5 w-100 mx-auto">
        <div class="col-xs-auto pt-5 w-100 text-center">
            <p class="market_title fw-medium">Guessing is now a thing of the past</p>
            <p class="pt-2 fw-light subheading_color">Join us in the present</p>
        </div>
        <div class="col-xs-auto pt-5 prevent_shrinking h-100">
            <div class="rounded-4 border border-dark-subtle border-2 text-start p-3 pricing_tile">
                <p class="intended_user">For individuals</p>
                <p class="class fw-semibold ">Free</p>
                <p class="intended_user color_black">Access to one business's data</p>
                <div class="pt-2"></div>
                <p class="price fw-semibold">$0 <span class="USD fw-light">USD</span></p>
                <p class="month">/ month</p>
                <div class="d-grid gap-2 d-md-block mx-auto pt-5">
                    <button type="button" class="btn btn-outline-dark button_size w-100 p-3">Create Account</button>
                </div>
                <ul class="pt-4 check-list">
                    <li>Offers access to one business's data along with future predictions once every month</li>
                    <li>Helps to study market trends</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-auto pt-5 prevent_shrinking h-100">
            <div class="rounded-4 border border-2 border-success text-start p-3 pricing_tile">
                <p class="intended_user">For Power Users</p>
                <p class="class fw-semibold">Pro</p>
                <p class="intended_user color_black ">Access to all businesses</p>
                <div class="pt-2"></div>
                <p class="price fw-semibold">$20 <span class="USD fw-light">USD</span></p>
                <p class="month">/month</p>
                <div class="d-grid gap-2 d-md-block mx-auto pt-5">
                    <button type="button" class="btn btn-success button_size w-100 p-3">Get Started</button>
                </div>
                <ul class="pt-4 check-list">
                    <li>Everything in Free</li>
                    <li>Access to all Markets</li>
                    <li>Retrain requests</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-auto pt-5 prevent_shrinking h-100">
            <div class="rounded-4 border border-dark-subtle border-2 text-start p-3 pricing_tile">
                <p class="intended_user">For Larger Organizations</p>
                <p class="class fw-semibold">Enterprise</p>
                <p class="intended_user color_black">Contact us for more information</p>
                <div class="pt-2"></div>
                <p class="price fw-semibold">$100 <span class="USD fw-light">USD</span></p>
                <p class="month">/month</p>
                <div class="d-grid gap-2 d-md-block mx-auto pt-5">
                    <button type="button" class="btn btn-outline-dark button_size w-100 p-3">Contact Us</button>
                </div>
                <ul class="pt-4 check-list">
                    <li>Everything in pro</li>
                    <li>Access to all markets and experimental markets</li>
                    <li>API access</li>
                    <li>Experimental algoritims</li>
                </ul>
            </div>
        </div>
    </div>
</div>