<div class="body position-absolute mx-auto">
  <div class="container-fluid text-center w-100">
    <div class="row d-flex justify-content-center pt-5 mx-auto">
      @for(item of advertisement; track item.title) {
      <div class="col-md-4 text-start">
        <div class="title">
          <p>{{ item.title }}</p>
        </div>
        <div class="description top-0">
          <p>
            {{ item.description }}
          </p>
        </div>
      </div>
      }
      <hr class="border border-dark" />
    </div>
    <div class="row align-items-center justify-content-center pt-5 mx-auto">
      <div class="col-md-7">
        <div class="w-100">
          <img
            src="../../assets/data.jpg"
            class="w-100 image_transform"
            alt="data"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="container-fluid text-start pt-3">
          <div
            class="row align-items-start image_text_title fw-semibold mx-auto"
          >
            <div class="col">
              <p>Welcome to the Next Generation of Investing</p>
            </div>
          </div>
          <div
            class="row align-items-start fw-bolder image_text_description mx-auto"
          >
            <div class="col">
              <p>Find the needle in the haystack</p>
            </div>
          </div>
          <div class="row align-items-start image_text_paragraph mx-auto">
            <div class="col">
              <p>
                Manually reading and understanding data is a thing of the past.
                With our state of the art algoritims and technology. Harness the
                power of AI and let your wallet grow on its own.
              </p>
            </div>
          </div>
          <div
            class="row align-items-start justify-content-start w-100 mx-auto pt-3"
          >
            <button
              type="button"
              class="btn btn-dark p-3 px-0 button_font_size w-50"
              routerLink="/login"
            >
              Get Started
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5"></div>
    <div class="row pt-3 mx-auto">
      <div class="row mx-auto">
        <p class="market_title pt-5 fw-medium">Supported Markets</p>
      </div>
    </div>
    <div class="row justify-content-start align-items-start mx-auto">
      <div class="pt-5"></div>
      <div class="col-md-8 w-60">
        <div class="row">
          @for(item of data; track item.name){
          <div class="col px-1">
            <app-tiles
              [name]="item.name"
              [image]="item.image"
              class="pt-3 px-1 ps-0"
            ></app-tiles>
          </div>
          }
        </div>
      </div>
      <div class="col-md-4">
        <div class="container-fluid text-start pt-3">
          <div
            class="row align-items-start image_text_title fw-semibold mx-auto"
          >
            <div class="col">
              <p>Welcome to the future</p>
            </div>
          </div>
          <div
            class="row align-items-start fw-bolder image_text_description mx-auto"
          >
            <div class="col">
              <p>Find your next market</p>
            </div>
          </div>
          <div class="row align-items-start image_text_paragraph mx-auto">
            <div class="col">
              <p>
                Discover the next big thing before it becomes a thing. With our
                96% accuracy you can be sure that your wallet is the one that
                grows and not you.
              </p>
            </div>
          </div>
          <div
            class="row align-items-start justify-content-start mx-auto ps-2 pt-3 w-100"
          >
            <button
              type="button"
              class="btn btn-dark p-3 px-0 button_font_size w-50"
              routerLink="/login"
            >
              Get Started
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
<hr />
