.body {
  background-color: #fff;
  width: 100%;
}

.title {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #0052a9;
}
.description {
  font-size: 1.2rem;
  line-height: 2.3rem;
}
.image_transform {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: perspective(760px) rotateY(12deg);
  box-shadow: 1 1 1 1 1;
}

.image_text_title {
  font-size: 1.4rem;
}

.image_text_description {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.image_text_paragraph {
  font-size: 1.3rem;
  line-height: 2.3rem;
}
.button_font_size {
  font-size: 1.3rem;
}

.market_title {
  font-size: 3.5rem;
}
.custom_height {
}
@media (max-width: 768px) {
  .image_transform {
    transform: none;
  }
}

/* Mobile Phones */
@media (max-width: 480px) {
  .image_transform {
    transform: none;
  }
}
