@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html{
  scroll-behavior: smooth;
}
:root {
  --text: #fff;
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --shadow-color: 0deg 0% 45%;
  --shadow: -1px 1px 1.8px hsl(var(--shadow-color) / 0.26),
    -3.7px 3.7px 6.7px -0.4px hsl(var(--shadow-color) / 0.33),
    -7.1px 7.2px 12.9px -0.7px hsl(var(--shadow-color) / 0.4),
    -13.5px 13.5px 24.3px -1.1px hsl(var(--shadow-color) / 0.47),
    -25px 25px 45.1px -1.5px hsl(var(--shadow-color) / 0.54);
}

a {
  all: unset;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: "Ubuntu", serif;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.p_relative {
  position: relative;
}
.display_grid
{
  display: grid;
}
.width_100
{
  width: 100%;
}
.margin_0
{
  margin: 0;
}
.white_text
{
  color: var(--text)
}
.border_radius_20
{
  border-radius: 20;
}
.text_align_left
{
  text-align: left;
}
.display_none {
  display: none !important;
  transition: linear 1s;
}

.home {
  min-height: 900px;
  background-color: var(--clr-surface-a0);
}

.grid {
  grid-template-areas: "about_me menu";
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.grid.menu {
  grid-area: "menu";
}
.grid.about_me {
  text-align: center;
  grid-area: "about_me";
}
.menu {
  padding: 5px, 0, 0;
  margin: 50px, 80px, 0, 0;
  background-color: var(--clr-surface-a10);
  border-radius: 30px;
  top: 80px;
  list-style: none;
  height: 170px;
}
.menu ul {
  line-height: 10px;
}
.menu li {
  padding: 20px;
  margin-top: 15px;
  font-size: 20px;
}
.menu li:hover {
  background-color: var(--clr-surface-a20);
  transition: 0.5s;
  letter-spacing: 0.04em;
}
.first {
  margin-top: 10px !important;
}
.about_me {
  padding-right: 20px;
}
.hi {
  color: red;
  transition: 1s;
}
.header {
  font-size: 60px;
}
.header_text {
  font-size: 30px;
}
.projects {
  min-height: 2100px;
  background-color: var(--text);
  color: #000;
}
.header_container {
  left: calc(50% - 166px);
  display: inline-block;
}
.typewriter_animation {
  top: 70px;
  left: 5px;
  height: 70px;
  background-color: var(--text);
  border-left: 2px solid rgb(0, 0, 0);
  animation: typing 2.5s steps(8, end) forwards,
    cursor 0.6s step-end infinite alternate;
  z-index: 1;
}
.typewriter_style h1 {
  z-index: 0;
  left: 5px;
  font-family: monospace;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.14em;
}

.project_title {
  font-size: 30px;
}
.project_paragraph {
  font-size: 20px;
  line-height: 2;
}

.slide_show_grid {
  grid-template-areas: "description video";
  grid-template-columns: 2fr 1fr;
  margin: 20px;
}
.description {
  grid-area: "description";
  margin: 20px;
  padding: 20px;
}
.video {
  grid-area: "video";
}
.video_class {
  display: block;
  background-color: transparent;
  height: 100%;
  box-shadow: var(--shadow);
}
.project_gap_top {
  grid-template-columns: 2fr 1.1fr !important;
  top: 300px;
}
.project_gap_top_2 {
  grid-template-columns: 2fr 3fr !important;
  top: 500px;
}
.driver_installer {
  top: -40px;
}
.links {
  min-height: 600px;
  margin-top: 100px;
}
.link_container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 60px;
  height: 100px;
  margin: 100px 325px 100px;
}
.links_title {
  font-size: 40px;
  left: 43%;
}
.link {
  box-shadow: var(--shadow);
  background-color: #cfcfcf;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  transition: 1s;
}
.link:hover {
  background-color: var(--text);
  box-shadow: none;
  transition: 0.25s;
}
.link i {
  top: calc(50% / 2);
}
.github {
  background-color: #4f5a65 !important;
}
.github_icon {
  color: #fff !important;
  background-color: #2b3137 !important;
}
.instagram {
  background-color: #de618a !important;
}
.instagram_icon {
  color: #fff !important;
  background-color: #e1306c !important;
}

.facebook_icon {
  color: #fff !important;
  background-color: #1877f2 !important;
}
.linkedin_icon {
  color: #fff !important;
  background-color: #0077b5 !important;
}
.facebook {
  background-color: #4d95f4 !important;
}
.linkedin {
  background-color: #458db4 !important;
}

@keyframes typing {
  100% {
    left: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
