.market_title {
    font-size: 3.5rem;
  }
.market_tile
{
  width: 15rem;
}
.container_contain
{
  height: 80vh;
}
.markets
{
  height: fit-content;
}
.chart-background
{
  background-color: #e4e0cf ;
}