<app-navbar [class]="'navbar_black_no_trans'"></app-navbar>
<div class="container pt-5 mx-auto">
    <div class="row">
        <div class="text-center">
            <p class="pt-5 market_title">Market Data</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <ul class="list-group">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
        </div>
    </div>
</div>