<app-navbar [class]="'navbar_black_no_trans'" [component]="1"></app-navbar>
<div class="container pt-5 mx-auto markets">
  <div class="row">
    <div class="text-center">
      <p class="pt-5 market_title">Market Data</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="container">
        <div
          class="container_contain overflow-y-scroll overflow-x-hidden border border-dark-subtle border-2 rounded-3"
        >
          <div class="row p-3 pe-1 me-0">
            @for(item of data; track item.name){
            <div class="col w-100 h-100 d-inline-block pt-2 mx-auto">
              <button
                type="button"
                class="btn btn-outline-dark rounded-3 market_tile mx-auto"
                (click)="parse_data(item.market_name)"
              >
                <div class="container-fluid mx-auto">
                  <div
                    class="row justify-content-start text-start align-items-center mx-auto"
                  >
                    <div class="col-md-3">
                      <img
                        [src]="item.image"
                        class="img-fluid mx-auto"
                        [alt]="item.market_name"
                      />
                    </div>
                    <div class="col-md-9">
                      {{ item.name }}
                    </div>
                  </div>
                </div>
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <canvas
        class="chart-background border border-dark-subtle border-1 p-4 rounded-3 w-100"
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="'line'"
      ></canvas>
    </div>
  </div>
  <div class="row p-5"></div>
</div>
